<div class="panel panel-primary">
    <div class="panel-heading">Budget List</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>month</th>
            <th>amount</th>
        </tr>
        </thead>
        <tbody id="budgets-table" class="table-hover">
        {{#budgets}}
        <tr>
            <td name="month" class="text-left">{{month}}</td>
            <td name="amount" class="text-left">{{amount}}</td>
        </tr>
        {{/budgets}}
        </tbody>
    </table>
</div>
